footer{
    background: $background-color;;
    color: white;
    min-height: 6vh;
    padding: 0% 3%;
    font-size: 1rem;
    margin-top: 3rem;
    @include flex(flex-end, center, row);
    ul{
        flex: 1 1 40rem;
    @include flex(space-around, center, row);
    }
    h4 {
        flex: 1 1 40rem;
        font-size: 1.5rem;
    }
    li a img{
        height: 4rem;
    }
}